header {
    position: relative;

    .banner__left, .banner__right {
        padding-top: 150px;
        padding-bottom: 150px;

        @include breakpoint(md) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    
    .banner__left {
        width: 50%;
        
        @include breakpoint(md) { width: 60%; }
        @include breakpoint(sm) { width: 100%; }
    }

    .banner__right {
        width: 50%;
        background: $color-gradient;
        overflow: hidden;
        
        @include breakpoint(md) { width: 40%; }
        @include breakpoint(sm) { background: white; width: 100%; }
    }

    &.banner-category {
        @include breakpoint(md) {
            padding-top: 120px;
            padding-bottom: 120px;
        }

        @include breakpoint(sm) { padding-bottom: 80px; }

        .banner__left {
            @include breakpoint(md) {
                margin-top: 30px;
            }

            .banner__text-title {
                font-size: 5em;
                margin-bottom: 10px;
                font-family: $font-1;
                line-height: 1.2;

                @include breakpoint(lg) { font-size: 4.5em; }
                @include breakpoint(md) { font-size: 4em; }
                @include breakpoint(sm) { font-size: 3.5em; }

                div {
                    &.text__title-top {
                        .text__title {
                            margin-right: 40px;
                        }
                    }

                    &.text__title-bottom {
                        .text__title {
                            margin-left: 40px;
                        }
                    }

                    .text__title { color: #333; }

                    .text__title-line {
                        width: 100%;
                        height: 10px;
                        display: inline-block;
                        background: #333;

                        @include breakpoint(xs) { display: none; }
                    }
                }
            }
        }

        .banner__right {

            img {
                width: 320px;

                @include breakpoint(md) { width: 250px; }
                @include breakpoint(sm) { width: 220px; }
            }
        }
    }

    &#banner-home {
        height: 100vh;

        @include breakpoint(sm) { height: 90vh; }
        @include breakpoint-height(480px) { height: 600px; }
        
        .banner__left {
            img {
                display: none;
                width: 180px;
                top: 100px;

                @include breakpoint(sm) { display: block; width: 100%; }
            }

            .banner__text-top {
                font-size: 1.2em;
            }

            .banner__autotype {
                margin: 15px 0;
                position: relative;
                padding: 10px 0;
                padding-left: 25px;

                &:before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 10px;
                    left: 0;
                    top: 0;
                    background: black;

                    @include breakpoint(xs) { width: 7px; }
                }

                @include breakpoint(xs) { font-size: 2.8em; }
            }

            .banner__button {
                margin-top: 30px;

                @include breakpoint(xs) { @include d-flex(row,center,center) }
            }
        }

        .banner__right {
            img {
                @include breakpoint(md) { width: 300px; }
            }
        }

        .banner__button-godown {
            @include size(60px);
            cursor: pointer;
            font-size: 1.2em;
            position: absolute;
            bottom: 40px;
            left: 50%;
            color: $color-primary;
            background: white;
            border-radius: 100%;
            transform: translateX(-50%);
            box-shadow: 0 0 20px transparentize(#000000, 0.7);

            @include breakpoint(sm) { font-size: 1.1em; @include size(50px); }

            img { width:20px; }

            &:hover {
                background: #eee;
            }
        }
    }

    &#banner-wara-journal-artikel {

        .banner__left {
            padding-top: 120px;
            padding-bottom: 120px;
        }

        .banner__left {
            .banner__label {
                a {
                    display: inline-block;
                    padding: 10px 15px;
                    background: $color-gradient;
                    border-radius: 5px;
                    color: white;
                    opacity: 0.9;
                    
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            .banner__title {
                h1 {
                    @extend .text-weight-700;
                    font-size: 3em;
                    margin: 10px 0 20px;
                    color:#333;
                    line-height: 1.2;

                    @include breakpoint(sm) { color: white; }
                }
            }
            .banner__info-wrapper {
                .banner__info-item {
                    color: #888;
                    margin-right: 20px;

                    span {
                        &:first-child {
                            margin-right: 5px;
                        }
                    }

                    @include breakpoint(sm) { color: #eee; }
                }
            }
        }

        .banner__right {
            padding-top: 0;
            position: relative;
            background: $color-gradient-transparent-5;

            @include breakpoint(sm) {
                position: absolute;
                right: 0;
                width: 100%;
                bottom: 0;
                z-index: -1;
                height: 100%;
                background: #eee;
            }
            
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                z-index: -1;
                @include absolute-center;

                @include breakpoint(md) { width: auto; height: 100%; }
                @include breakpoint(sm) { height: 140%; }
            }
        }
    }
}