// ============================
// WARNA
// ============================

// Text
.text-color-primary { color: $color-primary; }
.text-color-secondary { color: $color-secondary; }
.text-color-warning { color: $color-warning; }
.text-color-danger { color: $color-danger; }
.text-color-white { color: $color-white; }
.text-color-gray { color: $color-gray; }
.text-color-gray-eee { color: $color-gray-eee; }
.text-color-black-lighten { color: $color-black-lighten; }
.text-color-primary-darken-1 { color: $color-primary-darken-1; }
.text-color-primary-darken-2 { color: $color-primary-darken-2; }
.text-color-primary-darken-3 { color: $color-primary-darken-3; }
.text-color-primary-lighten-1 { color: $color-primary-lighten-1; }
.text-color-primary-lighten-2 { color: $color-primary-lighten-2; }
.text-color-primary-lighten-3 { color: $color-primary-lighten-3; }
.text-color-secondary-darken-1 { color: $color-secondary-darken-1; }
.text-color-secondary-darken-2 { color: $color-secondary-darken-2; }
.text-color-secondary-darken-3 { color: $color-secondary-darken-3; }
.text-color-secondary-lighten-1 { color: $color-secondary-lighten-1; }
.text-color-secondary-lighten-2 { color: $color-secondary-lighten-2; }
.text-color-secondary-lighten-3 { color: $color-secondary-lighten-3; }
.text-color-warning-darken-1 { color: $color-warning-darken-1; }
.text-color-warning-darken-2 { color: $color-warning-darken-2; }
.text-color-warning-darken-3 { color: $color-warning-darken-3; }
.text-color-warning-lighten-1 { color: $color-warning-lighten-1; }
.text-color-warning-lighten-2 { color: $color-warning-lighten-2; }
.text-color-warning-lighten-3 { color: $color-warning-lighten-3; }
.text-color-danger-darken-1 { color: $color-danger-darken-1; }
.text-color-danger-darken-2 { color: $color-danger-darken-2; }
.text-color-danger-darken-3 { color: $color-danger-darken-3; }
.text-color-danger-lighten-1 { color: $color-danger-lighten-1; }
.text-color-danger-lighten-2 { color: $color-danger-lighten-2; }
.text-color-danger-lighten-3 { color: $color-danger-lighten-3; }
.text-color-gray-darken-1 { color: $color-gray-darken-1; }
.text-color-gray-darken-2 { color: $color-gray-darken-2; }
.text-color-gray-darken-3 { color: $color-gray-darken-3; }
.text-color-gray-lighten-1 { color: $color-gray-lighten-1; }
.text-color-gray-lighten-2 { color: $color-gray-lighten-2; }
.text-color-gray-lighten-3 { color: $color-gray-lighten-3; }

// Background
.bg-color-primary { background: $color-primary; }
.bg-color-secondary { background: $color-secondary; }
.bg-color-warning { background: $color-warning; }
.bg-color-danger { background: $color-danger; }
.bg-color-black { background: $color-black; }
.bg-color-gray { background: $color-gray; }
.bg-color-gray-eee { background: $color-gray-eee; }
.bg-color-white { background: $color-white; }
.bg-color-purple { background: $color-purple; }
.bg-color-primary-darken-1 { background: $color-primary-darken-1; }
.bg-color-primary-darken-2 { background: $color-primary-darken-2; }
.bg-color-primary-darken-3 { background: $color-primary-darken-3; }
.bg-color-primary-lighten-1 { background: $color-primary-lighten-1; }
.bg-color-primary-lighten-2 { background: $color-primary-lighten-2; }
.bg-color-primary-lighten-3 { background: $color-primary-lighten-3; }
.bg-color-secondary-darken-1 { background: $color-secondary-darken-1; }
.bg-color-secondary-darken-2 { background: $color-secondary-darken-2; }
.bg-color-secondary-darken-3 { background: $color-secondary-darken-3; }
.bg-color-secondary-lighten-1 { background: $color-secondary-lighten-1; }
.bg-color-secondary-lighten-2 { background: $color-secondary-lighten-2; }
.bg-color-secondary-lighten-3 { background: $color-secondary-lighten-3; }
.bg-color-danger-darken-1 { background: $color-danger-darken-1; }
.bg-color-danger-darken-2 { background: $color-danger-darken-2; }
.bg-color-danger-darken-3 { background: $color-danger-darken-3; }
.bg-color-danger-lighten-1 { background: $color-danger-lighten-1; }
.bg-color-danger-lighten-2 { background: $color-danger-lighten-2; }
.bg-color-danger-lighten-3 { background: $color-danger-lighten-3; }
.bg-color-warning-darken-1 { background: $color-warning-darken-1; }
.bg-color-warning-darken-2 { background: $color-warning-darken-2; }
.bg-color-warning-darken-3 { background: $color-warning-darken-3; }
.bg-color-warning-lighten-1 { background: $color-warning-lighten-1; }
.bg-color-warning-lighten-2 { background: $color-warning-lighten-2; }
.bg-color-warning-lighten-3 { background: $color-warning-lighten-3; }
.bg-color-gray-darken-1 { background: $color-gray-darken-1; }
.bg-color-gray-darken-2 { background: $color-gray-darken-2; }
.bg-color-gray-darken-3 { background: $color-gray-darken-3; }
.bg-color-gray-lighten-1 { background: $color-gray-lighten-1; }
.bg-color-gray-lighten-2 { background: $color-gray-lighten-2; }
.bg-color-gray-lighten-3 { background: $color-gray-lighten-3; }

// Background Gradient
.bg-color-gradient { background: $color-gradient; }
.bg-color-gradient-darken-1 { background: $color-gradient-darken-1; }
.bg-color-gradient-darken-2 { background: $color-gradient-darken-2; }
.bg-color-gradient-darken-3 { background: $color-gradient-darken-3; }
.bg-color-gradient-lighten-1 { background: $color-gradient-lighten-1; }
.bg-color-gradient-lighten-2 { background: $color-gradient-lighten-2; }
.bg-color-gradient-lighten-3 { background: $color-gradient-lighten-3; }