// ============================
// FORMS
// ============================

form, .form {

    .input-wrapper {
        margin-bottom: 15px;
    }

    label {
        margin-right: 10px;
        margin-bottom: 5px;
        color: #555;
    }

    .error-message {
        color: $color-danger;
        font-size: 0.8rem;
        margin-top: 3px;
    }

    input, textarea, select, .form-input {
        outline: none;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 15px;
        max-width: 100%;
        background: white;

        &.no-border { border: 0; }
    }

    .input-group {
        @extend .form-input;
        padding: 0;
        
        &.no-border { border: 0; }

        input {
            border: 0;
            margin: 0;
            width: 100%;
        }

        .icon {
            padding: 16px;
            @include size(42px, 100%);
        }

        &.icon-append {
            input, textarea, select, .form-input { padding-left: 0; }
        }
    }
}