// ============================
// TYPOGRAPHY
// ============================

h1,h2,h3,h4,h5,h6 {
    font-family: montserrat;
    font-weight: 700;
    position: relative;
    margin: 0;

    &.title-beranda {
        @include breakpoint(md){ 
            font-size: 2.5em;
            display: flex; 
        }

        .title-beranda-first-child {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                width: 30px;
                height: 5px;
                transform: translateX(150%);
                background: white;

                @include breakpoint(md){ display: none; }
            }
        }
    }

    &.style-guide-title {
        display: inline-block;
        color: $color-primary;

        &:before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 50%;
            height: 3px;
            background: $color-primary;
        }
    }
}

h1 {
    font-size: 36px;
}

p {
    font-size: 1rem;

    @include breakpoint(lg) { font-size: 1.2rem; }
    @include breakpoint(sm) { font-size: 1rem; }
}

a {
    text-decoration: none;
    position: relative;

    &.link {
        bottom: 0;
        color: $color-primary;
        transition: all 200ms ease-in-out;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0;
            background: $color-primary;
            transition: all 200ms ease;
        }

        &:hover {
            bottom: 5px;

            &:before {
                width: 100%;
            }
        }
        &.link-darken-1 { color: $color-primary-darken-1; &:before { background: $color-primary-darken-1; } }
        &.link-darken-2 { color: $color-primary-darken-2; &:before { background: $color-primary-darken-2; } }
        &.link-darken-3 { color: $color-primary-darken-3; &:before { background: $color-primary-darken-3; } }
        &.link-lighten-1 { color: $color-primary-lighten-1; &:before { background: $color-primary-lighten-1; } }
        &.link-lighten-2 { color: $color-primary-lighten-2; &:before { background: $color-primary-lighten-2; } }
        &.link-lighten-3 { color: $color-primary-lighten-3; &:before { background: $color-primary-lighten-3; } }
    }
}

.font-montserrat { font-family: $font-1; }
.font-poppins { font-family: $font-2; }

.text-bold { font-weight: bold; }
.text-weight-100 { font-weight: 100; }
.text-weight-200 { font-weight: 200; }
.text-weight-300 { font-weight: 300; }
.text-weight-400 { font-weight: 400; }
.text-weight-500 { font-weight: 500; }
.text-weight-600 { font-weight: 600; }
.text-weight-700 { font-weight: 700; }
.text-weight-800 { font-weight: 800; }
.text-weight-900 { font-weight: 900; }
.text-weight-1000 { font-weight: 1000; }
.text-italic { font-style: italic; }
.text-underline { text-decoration: underline; }

.text-align-center { text-align: center; }
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }

.title-big { font-size: 4.5em; }

@include breakpoint(lg) {
    .text-align-lg-center { text-align: center; }
    .text-align-lg-left { text-align: left; }
    .text-align-lg-right { text-align: right; }
}

@include breakpoint(md) {
    .text-align-md-center { text-align: center; }
    .text-align-md-left { text-align: left; }
    .text-align-md-right { text-align: right; }
}

@include breakpoint(sm) {
    .text-align-sm-center { text-align: center; }
    .text-align-sm-left { text-align: left; }
    .text-align-sm-right { text-align: right; }
}

@include breakpoint(xs) {
    .text-align-xs-center { text-align: center; }
    .text-align-xs-left { text-align: left; }
    .text-align-xs-right { text-align: right; }
}