main#wara-journal {
    section#wara-journal-category {
        a {
            color: white;
            position: relative;
            height: 220px;
            padding: 20px;
            transition: all 200ms ease;

            @include breakpoint(md) { padding: 15px; min-width: 250px; }
            @include breakpoint(sm) { height: 180px; }
            @include breakpoint(xs) { padding: 15px; min-width: 150px; width: 150px; }

            .waranav__icon { 
                img {
                    width: 80px;
                    position: absolute;
                    top: 20px;
                    right: 20px;

                    @include breakpoint(sm) { width: 70px; }
                }
            }

            .waranav__text {
                .text__top { font-size: 0.9em; margin-bottom: 2px; }
                .text__bottom { 
                    font-size: 1.4em; 

                    @include breakpoint(sm) {
                        font-size: 1.3em; 
                    }
                }
            }

            &.bg-color-primary { &:hover { background: $color-primary-darken-1; } }
            &.bg-color-secondary { &:hover { background: $color-secondary-darken-1; } }
            &.bg-color-danger { &:hover { background: $color-danger-darken-1; } }
            &.bg-color-warning { &:hover { background: $color-warning-darken-1; } }
            &.bg-color-purple { &:hover { background: $color-purple-darken-1; } }
        }
    }

    section#article-sidebar-wrapper {
        .warajournal__articles-title-wrapper {
            margin-bottom: 40px;

            .warajournal__articles-title {
                font-size: 1.4em;
                @extend .text-weight-300;
                @include breakpoint(sm) {
                    margin-bottom: 15px;
                }

                &.warajournal__articles-title-single {
                    font-size: 2em;
                    @extend .text-weight-600;
                }

                span {
                    margin-left: 10px;
                    font-size: 1.5em;
                    @extend .text-weight-700;
                    @include breakpoint(sm) {
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}

main#wara-journal-article-content {
    article {
        margin-right: 15px;

        @include breakpoint(sm) {
            margin-right: 0;
            margin-bottom: 15px;
        }

        .share-article-wrapper {
            .sosmed-icons {
                margin-left: 15px;

                img { margin-right: 10px; border-radius: 100%; }

                @include breakpoint(sm) {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }

            &.share-article-top { margin-bottom: 15px; }
            &.share-article-bottom { margin-top: 15px; }
        }

        .article__content {
            ol { 
                padding: 0; 
                padding-left: 15px; 

                li {
                    @extend .text-weight-600;

                    h1 {
                        font-size: 1.3em; 
                    }

                    p {
                        font-size: 1em;
                        line-height: 1.3;
                        @extend .text-weight-400;
                    }
                }
            }
        }
    }

    section#article-comment {
        .comment__wrapper {
            .comment__item {
                .comment__position-left {
                    margin-right: 15px;

                    img { width: 250px; }
                }
                .comment__position-right {
                    font-size: 0.9em;
                    color: #333;

                    p { font-size: 0.9em; }
                }
            }
        }

        .comment__form {
            form {
                textarea {
                    background: #eee;
                    margin-bottom: 15px;
                    width: 100%;
                    border: 0;
                }

                button {
                    border-radius: 5px;
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
    }
}