main#wara-fordic {
    background: #eee;
    section{
        &#wara-fordic-search{
            form{
                padding-top: 30px;
            }
        }
        &#wara-fordic-forum{
            padding-top: 30px;
            padding-bottom: 220px;
            .wara-fordic-forum-list{
                padding-top: 20px;
                background: #fff;
                border-radius: 5px;
                flex: 1;
                box-shadow: 0 0 25px transparentize($color: #333, $amount: 0.8);
                
                .wara-fordic-forum-item{
                    min-height: 70px;

                    a{
                        color: #000;
                    }
                }

                .wara-fordic-forum-bottom{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-top: 1px solid #eee;

                    span{
                        float: right;
                        color: rgb(190, 190, 190);
                    }
                }
            }
        }
    }
}